sudo: required
services:
  - docker

before_install:
  - docker build -t briany2000/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run briany2000/react-test npm test -- --coverage

after_success:
  - docker build -t briany2000/multi-client ./client
  - docker build -t briany2000/multi-nginx ./nginx
  - docker build -t briany2000/multi-server ./server
  - docker build -t briany2000/multi-woker ./worker

  # log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push briany2000/multi-client
  - docker push briany2000/multi-nginx
  - docker push briany2000/multi-server
  - docker push briany2000/multi-worker
  